* {box-sizing:border-box}

header 
{    
background-color:#40407A;
color: #FFFFFF;
background-image: url(Image/yoga\ -\ Copy/sunrise.jpg);
background-size: cover; 
margin-top: 40px;
min-height: 200px;
font-size: 90%;

}

header a {text-decoration: none}
header a:link{color:#FFFFFF}
header a:visited{color:#FFFFFF}
header a:hover{
    color: #8F92B2;
    transition: color 10s ease-out
}



nav
{
position: fixed;
top: 0;
left: 0;
z-index: 9999;


text-align: right;
background-color: #FFFFFF;
margin: 0;
padding-top: 0.5em;
padding-bottom: 1em;        
padding-right: 0;
background-size: 100% 100%;
height: auto;
width: 100%;

}

nav a 
{   
text-decoration: none;
}

ul 
{
list-style-type: none;
margin: 0;
padding-right: 0;
font-size: 1.2em
}

nav li 
{
display: inline;
padding-left: 4em;
width: 30%;    
}

nav a:link {color: #3F2860}
nav a:visited {color:#497777}
nav a:hover {color: #A26100}



body 
{
background-color: #40407A; 
color: #40407A;
font-family: Verdana, Arial, sans-serif;
margin: 0;
}




li {font-size: 90%;}

dd {font-size: 90%;}

footer 
{   
text-align: center;
font-style:italic;
font-size:small;
float: none;
} 

#wrapper 
{
background-color: #F5F5F5;
padding: 2em;
}

.home 
{
height: 20vh;
padding-left: 10%;
padding-top: 2em;
height: 20vh;


}

.content 
{
height: 20vh;
padding-top: 2em;
padding-left: 10%;
}


#mathero 
{
height: 300px;
background-image: url(image/yoga\ -\ Copy/yogamat.jpg);
background-size: 100% 100%;
background-repeat: no-repeat;
display: none;

}

#loungehero 
{
height: 300px;
background-image: url(image/yoga\ -\ Copy/yogalounge.jpg);
background-size: 100% 100%;
background-repeat: no-repeat;
display: none;

}

h2 {margin: 0} 




#flow {display: block}





section {

    padding-left: .5em;
    padding-right: .5em;
}


table { 

    border: 1px solid #40407A;
    margin-bottom: 1em;
    min-width: 400px;
    border-collapse: collapse;

}

td, th {

    padding: 0.5em;
    border: 1px #40407A;

}

tr:nth-of-type(even) {

    background-color: #D7E8E9;

}

caption {

    margin: 1em;
    font-weight: bold;
    font-size: 120%;

}


form { display: flex;
       flex-flow: column nowrap;
    }

input, datalist textarea {margin-bottom: .5em;}

audio {margin-bottom: 1em;}

@media (min-width: 600px) {
    
    nav ul {
        display: flex;
        flex-wrap:nowrap; 
        justify-content: flex-end;
    }
    
    nav li {width: 7em;}
    section {

        padding-left: 2em;
        padding-right: 2em;

    }

    #mathero {
        display:block;
        padding-bottom:1em;
        
    }

    #loungehero {

        display: block;
        padding-bottom:1em;
        

    }

    #flow {
        
        display: flex;
        flex-direction: row;

    }

    form { 

        width: 60%;
        max-width: 40em;
        display: grid;
        gap: 1em;
        grid-template-columns: 6em 1fr;
        grid-auto-rows:auto;

    }

    input [type = "submit"] {grid-column: 2/3;
                             width: 9em;
    }

}






@media (min-width: 1024px) {

header {font-size: 120%}

nav {font-weight: bold;}

.home {
    
    height: 50vh;
    padding-top: 5em;
    padding-left: 8em;
}

.content {

        height: 30vh;
        padding-top: 2em;
        padding-left: 8em;
}

#wrapper {

    margin: auto;
    width: 80%



}
}